<div>
    <h3 *ngIf="products; else: noProduct"> {{title}} </h3>
    <div class="">
        <input class="form-control" id="productName" placeholder="Arama metninzi giriniz..." [(ngModel)]="filterText">
        <div *ngIf="filterText" id="emailHelp" class="form-text">Şu an {{filterText}} aradınız... </div>
    </div>


    <ng-template #noProduct>
        <div class="alert alert-info" role="alert">
            Burada ürün yoktur...
        </div>
    </ng-template>

    <div class="">
        <div *ngFor="let eleman of products | productFilter:filterText" class="row">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" style="width: 200%;" [src]="eleman.imageUrl" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{eleman.name}} {{eleman.price | currency}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a (click) = "addToCart(eleman)" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>

        </div>
    </div>